@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto&display=swap');

/*global section*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


* {
    font-family: 'Merriweather', serif;
}

a{
    color: #f8c68a;
    text-decoration: none;
}



body {

    background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url("assets/abstract-background.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/*global section*/

/*navbar section*/
nav{
    background-color: rgb(255, 253, 253);
    height: 100px;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    color: #f8c68a;
    padding: 10px;
    font-style: italic;
}

.navbar-links{
    color: #966c45;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width:60%;
    font-style: italic;
}

#nav-logo{
    display: flex;
    max-width: 40px;
    margin-top: -10px;

}
/*navbar section end*/

/*main section*/

main{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
}


#main-glass-image-left{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 80px;
    margin-left: 80px;
    border:2px solid #f8f7f6;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.10), 0 6px 20px 0 rgba(0,0,0,0.30);
    border-radius: 150px;
}

#main-glass-text-center{
    display: flex;
    flex-direction: column;
    width: 500px;
    height:50px;
    margin-left: 150px;
    color: #fdb45b;
    font-style: italic;
    font-weight: bolder;

}

#main-glass-title-center{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 100px;
    margin-top: 150px;
    margin-left: 150px;
    color: #fdb45b;
    font-style: italic;
    font-weight: bolder;

}

#main-glass-image-right-up{
    width: 200px;
    height: 200px;
    margin: 5px;
    border:10px solid #ffffff;
}

#main-glass-image-right-center{
    width: 200px;
    height: 200px;
    margin: 10px;
    margin: 5px;
    border:10px solid #ffffff;
}

#main-glass-image-right-bottom{
    width: 200px;
    height: 200px;
    margin: 10px;
    margin: 5px;
    border:10px solid #ffffff;
}

.left-main-container{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    margin-left: 250px;
    margin-top: -25px;
}